<div class="flex items-center justify-center w-full box-border mt-36">
    <div
        class="flex text-theme-black bg-theme-purple w-6/12 border-theme-black border-[5px] rounded-3xl p-10 flex-col drop-shadow-[15px_15px_1px_rgba(7,7,7,0.25)] cursor-pointer">
        <div class="flex">
            <h1 class="text-8xl">"</h1>
            <p class="pt-8 text-xl">{{quote.text}}</p>
            <h1 class="text-8xl">"</h1>
        </div>
        <div class="flex items-center justify-end pr-16">
            <div class="w-20 inline-block border-t-[2px] mr-6"></div>
            <p class="text-lg">{{quote.author}}</p>
        </div>
    </div>
</div>