<div class="flex items-center justify-center w-full h-[425px] box-border mt-36">
    <div
        class="flex text-theme-black bg-theme-purple w-6/12 border-theme-black border-[5px] rounded-3xl p-10 flex-col drop-shadow-[15px_15px_1px_rgba(7,7,7,0.25)] h-full">
        <h1 class="text-4xl ml-16 mb-3">New Quote</h1>
        <div class="flex h-48">
            <h1 class="text-8xl">"</h1>
            <form action="" class="w-full h-full pt-5">
                <textarea name="" id="" cols="30" rows="10"
                    class="w-full h-full resize-none rounded-xl p-2 focus:outline-none text-2xl"></textarea>
                <div class="flex justify-between items-center mt-5">
                    <button class="bg-theme-red pl-7 pr-7 text-[30px] rounded-xl drop-shadow-[3px_3px_0_rgba(0,0,0,1)]">Add</button>
                    <div class="flex items-center">
                        <div class="w-20 inline-block border-t-[2px] mr-6"></div>
                        <input type="text" class="focus:outline-none p-2 rounded-xl h-10">
                    </div>
                </div>
            </form>
            <h1 class="text-8xl pt-36 h-full">"</h1>
        </div>
    </div>
</div>